.category {
  display: flex;
  height: 2rem;
  line-height: 1.6;
  gap: 1rem;
  font-weight: 600;

  button {
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: var(--neutral-shade-70);
    border-bottom: 1px solid var(--neutral-shade-70);

    &:hover {
      color: var(--neutral-shade-20);
    }
  }
}
