.global-search-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  inline-size: min(50rem, 70%);
  padding-inline: 1rem;
  border: 1px solid var(--neutral-shade-20);
  border-radius: var(--border-radius-circle);
  color: var(--neutral-shade-20);
  margin: 0 auto;

  .prefix {
    display: grid;
    align-items: center;
    font-size: 1.5rem;
    background-color: var(--primary-tint_30);
    color: var(--neutral-shade-10);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: var(--border-radius-circle);
    padding: 0.4rem;
  }

  input {
    flex: 1 1 0;
    color: var(--neutral-shade-20);
    background-color: transparent;
    padding: 1rem;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .divider {
    background-color: var(--neutral-shade-90);

    block-size: 2em;
    inline-size: 1px;
  }

  .suffix {
    button {
      background-color: transparent;
      color: var(--neutral-shade-20);
      display: flex;
      align-items: center;
      gap: 0.25rem;

      padding: 0.5rem 0.5rem;

      border: none;
      border-radius: var(--border-radius);

      cursor: pointer;

      svg {
        font-size: 1.5em;
        color: var(--neutral-shade-20);
      }
    }
  }

  &:focus-within {
    border: 1px solid var(--primary-100);
  }
}
