.dropdown_container {
  display: flex;
  gap: 0.6rem;
  height: 2.5rem;

  .dropdown {
    position: relative;
  }

  .dropdown_button {
    background-color: transparent;
    color: var(--Primary_Shade_05);
    border: 1px solid var(--Neutral_Shade-90);
    padding: 10px;
    border-radius: var(--border-radius1);
    cursor: pointer;
    height: 100%;
  }

  .dropdown_button:hover {
    border: 1px solid var(--Neutral_Shade-40);
  }

  .dropdown_menu {
    display: block;
    position: absolute;
    color: var(--Primary_Shade_05);
    border: 1px solid var(--Neutral_Shade-80);
    border-radius: var(--border-radius2);
    margin-top: 0.3rem;
    list-style: none;
    padding: 0;
    z-index: 1;
  }

  .dropdown_menu li {
    padding: 0 0.6rem;
    cursor: pointer;
  }

  .dropdown_menu li:hover {
    background-color: var(--Primary_Tint_60);
  }
}
