.select-ads {
  margin: 0 auto;
}

.details {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--neutral-shade-90);
  border-bottom: 1px solid var(--neutral-shade-90);
  margin-block: 1rem;
  border-radius: var(--border-radius-square);
  background-color: var(--primary-tint-02);
}
