:root {
  /* Primary Colors */
  --primary-100: hsl(151, 100%, 45%);
  --primary-shade-80: hsl(151, 94%, 38%);
  --primary-shade-60: hsl(151, 85%, 32%);
  --primary-shade-40: hsl(151, 72%, 25%);
  --primary-shade-10: hsl(151, 30%, 15%);
  --primary-shade-05: hsl(150, 100%, 2%);

  --primary-tint-80: hsl(151, 82%, 56%);
  --primary-tint-60: hsl(151, 82%, 67%);
  --primary-tint-40: hsl(151, 82%, 78%);
  --primary-tint-30: hsl(150, 83%, 84%);
  --primary-tint-20: hsl(151, 82%, 89%);
  --primary-tint-10: hsl(150, 79%, 95%);
  --primary-tint-03: hsl(154, 78%, 98%);
  --primary-tint-02: hsl(150, 67%, 99%);

  /* Neutral Colors */
  --neutral-100: hsl(0, 0%, 100%);
  --neutral-shade-90: hsl(144, 5%, 82%);
  --neutral-shade-80: hsl(156, 4%, 73%);
  --neutral-shade-70: hsl(150, 2%, 64%);
  --neutral-shade-60: hsl(160, 1%, 55%);
  --neutral-shade-50: hsl(140, 1%, 47%);
  --neutral-shade-40: hsl(150, 1%, 38%);
  --neutral-shade-30: hsl(120, 1%, 29%);
  --neutral-shade-20: hsl(180, 1%, 20%);
  --neutral-shade-10: hsl(120, 2%, 12%);

  --neutral-tint-80: hsl(150, 11%, 93%);
  --neutral-tint-60: hsl(150, 14%, 95%);
  --neutral-tint-30: hsl(150, 14%, 97%);
  --neutral-tint-10: hsl(120, 14%, 99%);

  /* Accept Colors */
  --accept: hsl(156, 11%, 91%);
  --accept-shade-40: hsl(116, 100%, 16%);
  --accept-tint-40: hsl(115, 65%, 76%);

  /* ERROR Colors */
  --error: hsl(0, 100%, 46%);
  --error-shade-40: hsl(0, 100%, 18%);
  --error-tint-40: hsl(0, 86%, 95%);

  /* Warning Colors */
  --warning: hsl(156, 11%, 91%);
  --warning-shade-40: hsl(44, 100%, 24%);
  --warning-tint-40: hsl(44, 92%, 79%);

  /* Information Color */
  --information: hsl(156, 11%, 91%);

  /* Link Color */
  --link: hsl(156, 11%, 91%);

  /* Border Radius */
  --border-radius-circle: 4rem;
  --border-radius-square: 0.25rem;

  --full-width: 75rem;
  --full-width-padding-inline: calc(max(100% - var(--full-width), 2rem) / 2);

  --animation-duration-fast: 0.1s;
  --animation-duration-normal: 0.5s;
  --animation-duration-slow: 1s;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html {
  color-scheme: light;
  accent-color: var(--primary-100);
  caret-color: var(--primary-100);
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
  font: inherit;
}

ul {
  list-style: none;
}

p {
  color: var(--neutral-shade-50);
}

a {
  color: inherit;

  text-decoration: none;
}

body {
  background-color: var(--neutral-100);
  color: var(--neutral-shade-20);

  display: grid;
  grid-template-rows: auto 1fr auto auto;

  min-block-size: 100vh;
  min-block-size: 100dvh;

  font-size: var(--fz-400);

  > * {
    padding-inline: var(--full-width-padding-inline);
  }

  .tagline {
    background-color: var(--neutral-shade-20);
    padding-block: 1rem;
    text-align: center;
  }
}
