.header {
  box-shadow: var(--Neutral_Shade-80);
  display: grid;
  padding-block: 1rem;
  height: 6.25rem;

  .top {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    border-bottom: 1px solid var(--Neutral_Shade-90);

    .top_right {
      width: 5.6rem;
      height: 2.4rem;
    }

    .top_left {
      display: flex;
      gap: 0.6rem;
      height: 2.3rem;
      align-items: center;

      .empoloyers {
        color: var(--Neutral_Shade-40);
        text-align: center;
      }

      .divider {
        background-color: var(--Neutral_Shade-80);
        block-size: 2em;
        inline-size: 1px;
      }

      .cta {
        display: flex;
        align-items: center;
        background-color: var(--Primary_Shade_05);
        color: var(--Neutral_100);
        margin-inline-start: auto;
        padding: 0.5rem;
        border-radius: var(--border-radius1);
        width: 5.2rem;
        height: 2rem;
        border: none;
      }
    }
  }

  .bottom {
    background-image: url(../../assets/illustrations/Subheader.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 3.5rem;
    border-bottom: 1px solid var(--Neutral_Shade-90);
  }
  nav {
    height: 100%;
    > ul {
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: center;
      height: 100%;

      > li {
        a {
          color: var(--Neutral_Shade-40);

          &:hover {
            color: var(--Primary-100);
          }
          &.active {
            color: var(--Primary-100);
            border-bottom: 1px solid var(--Primary-100);
          }
        }
      }
    }
  }
}
