.header {
  display: grid;
  align-items: center;
  line-height: 1.6;

  .header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    .company {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .company-image {
        min-block-size: 100%;
        block-size: 0;

        Image {
          block-size: 100%;
          inline-size: auto;
          aspect-ratio: 1 / 1;
          object-fit: cover;
          border: 1px solid var(--neutral-shade-50);
          border-radius: var(--border-radius-circle);
        }
      }

      span {
        color: var(--neutral-shade-60);
      }
    }
  }
  .header-title {
    display: flex;
    align-items: center;
    line-height: 1.6;

    .title {
      h2 {
        color: var(--neutral-shade-10);
      }
      span {
        color: var(--neutral-shade-50);
      }
    }

    .cta {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--primary-100);
      color: var(--primary-shade-05);
      text-align: center;
      margin-inline-start: auto;
      padding: 0.5rem;
      border-radius: var(--border-radius-circle);

      height: 2.5rem;
      border: none;
    }
  }

  .header-bottom {
    margin: 1rem 0;
    line-height: 1.6;
    text-align: left;
    color: var(--neutral-shade-20);

    h3 {
      font-weight: bold;
    }
  }
}
