.footer {
  display: grid;
  padding-block: 1rem;
  border-top: 1px solid var(--neutral-shade-90);

  .footer-top {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
  }

  .footer-bottom {
  }
}
