.footer {
  display: grid;
  padding-block: 1rem;
  border-top: 1px solid var(--neutral-shade-90);

  .footer-top {
    display: grid;
    grid-template-columns: auto 6fr auto;
    padding-block: 1rem;
  }

  .footer-bottom {
    msrgin-block: 0.5rem;
  }
}
