.page {
  margin-block-end: 2rem;
}

.divider {
  border: 1px solid var(--Neutral_Shade-90);
  margin: 20px 0;
}

.searh_content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: start;
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
}

.aside {
  width: 30%;
  border-right: 1px solid #ddd;
}
