.page {
  display: grid;
  margin-block-end: 2rem;
  align-items: start;
  gap: 1rem;
  margin-block: 2rem;

  main {
    display: grid;
    grid-template-columns: 4fr 6fr;
    gap: 1rem;
  }
}
.search-content {
  .filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 30rem;
    margin: 1rem auto;
  }
}
.divider {
  border: 1px solid var(--neutral-shade-90);
}
